{% extends 'home/base.html' %}

{% block content %}
    <div class="test">
        <h1>Czy chcesz wiedzieć kim powinieneś być? Jaki powinien być Twój zawód?</h1>
        <h1>Krok 1.</h1>
        <p>Test osobowości to zestaw pytań dotyczących Twoich reakcji oraz zachowań w zwykłych, codziennych sytuacjach.<br>
            Odpowiedzi na nie pozwolą określić Twój typ osobowości, według MBTI.<br>
        <h1>Krok 2.</h1>
        <p>Określ właściwości/cechy jakie cenisz sobie w miejscu pracy.<br></p>
        <h1>Krok 3.</h1>
        <p>Proponowany zawód pasujący do Twojej osobowości i cech pożądanych w miejscu pracy.<br></p>
        <h1>Jesteś gotowy?</h1>
        <h1><a href="/test/">Sprawdź!</a></h1>
    </div>
{% endblock %}